.imageMan{
    position: absolute;
    left: 22%;
    top: 18%;
    height: 20vh;
    width: auto;
}
.imageCar{
    position: absolute;
    right: -5vh;
    width: 30vh;
    height: auto;
    top: 16%;
}